{% extends 'base.html' %}

{% load extras %}
{% load staticfiles %}

{% block title %}意見領袖{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "plugins/daterangepicker/daterangepicker-bs3.css" %}">
{% endblock %}

{% block page-header %}意見領袖{% endblock %}
{% block optional-header %}最活躍用戶{% endblock %}
{% block level-header %}意見領袖{% endblock %}

{% block active-leader %} class="active"{% endblock %}

{% block page-content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">意見領袖</h3>
      </div>
      <div class="box-body">
        <div class="row margin">
          <table id="leader" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>作者</th>
                <th>文章數</th>
                <th>正面情緒字數</th>
                <th>負面情緒字數</th>
                <th>中立情緒字數</th>
              </tr>
            </thead>
            <tbody>
              {% for d in data %}
              <tr>
                <td><a href="/leader/?author={{ d.author }}" target="_blank">{{ d.author }}</a></td>
                <td>{{ d.posts_count }}</td>
                <td>{{ d.emotion.positive_count }}</td>
                <td>{{ d.emotion.negative_count }}</td>
                <td>{{ d.emotion.neutral_count }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>作者</th>
                <th>文章數</th>
                <th>正面情緒字數</th>
                <th>負面情緒字數</th>
                <th>中立情緒字數</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page-script %}
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script>
  $(function() {
    $('#leader').DataTable({
      "order": [
        [1, "desc"]
      ],
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });

</script>
{% endblock %}
